<app-navbar [currentUser]="currentUser" (showLoginForm)="showLogin = true" (signOut)="logout()"></app-navbar>
<router-outlet></router-outlet>

<div *ngIf="showLogin" class="login-form">
    <ng-container *ngTemplateOutlet="loginForm"></ng-container>
</div>

<ng-template #loginForm>
    <input [(ngModel)]="email" placeholder="Email" />
    <input [(ngModel)]="password" type="password" placeholder="Password" />
    <br /><br />
    <button (click)="signup()">Sign Up</button>
    <button (click)="login()">Log In</button>
    <button (click)="showLogin = false">Cancel</button>
</ng-template>